@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    text-decoration: none;  
}



header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 20px;
   background-image: linear-gradient(rgb(10, 109, 10), rgb(30, 65, 77));
}

.logo-delta {
    width: 170px;
    height: 100px;
    border-radius: 40px;
}



 body{
    background-image: linear-gradient(rgb(67, 67, 201), rgb(21, 121, 21));
} 

h1,h2,h3{
    font-family: cursive;
    color: black;
}


section article p{
    color: rgb(200, 200, 200);
    font-size: 2rem;
    font-weight: 200;
    line-height: 2rem;
    color: black;
}


 nav ul{
    list-style: none;
    color: black;
    text-decoration: none;
} 

nav ul li{
    animation: none;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 15px;
}

nav ul li a{
    font-size: 2rem;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}


 nav ul li a:hover{
    font-weight: 600;
    color: black;
} 

footer{
    background-color: blue;
}


#contenedor-grid{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "one" "two" "three" "four" "five";
}


@media (min-widht 768){
    #contenedor-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 20vh 60vh 20vh;
        grid-template-areas: "one" "two" "three" "four" "five";
    }
}

@media (min-widht){
    #contenedor-grid{
        grid-template-columns: 50vw 25vw 50vw;
        grid-template-rows: 25vh 50vh 30vh;
        grid-template-areas: "one one one"
        "two three three" "two four fie";
    }
}
/* inica camelcase */

.textdestacado{
    background-color: rgba(143, 143, 143, 8);
    text-decoration: none;
}

.textcenter{
    text-align: center;
}

.textbold{
    font-weight: 100;
}

.textright{
    text-align: right;
}

.textleft{
    text-align: left;
}

.bglight{
    background-color: rgba(195, 190, 190, .8);
}

.bgdark{
    background-color: rgba(238, 188, 247, .5);
}

/* clases BEM */

 .encabezado__box--white{
    text-align:center;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 40px;
    padding: 20px;
} 

.encabezado__img--fluid{
    width: 100%;
}

.novedades__titulo--xxl{
    font-size: 2rem;
}

.novedades__titulo--xl{
    font-size: 2rem;
}

.novedades__titulo--md{
    font-size: 2rem;
}



.novedades__articulo{
    height:auto ;
    width: 90%;
    overflow-y: hidden;
/*margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin: 10px 20px 30px 15px;*/
    margin: 10px auto;
    /* padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 40px; */
    padding: 10px 30px;
    box-sizing: border-box;
    border: solid 2rem pink;
    flex-direction:row;
    display: flex;
 }   

 .pie{
     padding: 30px o;
 }

 .pie a{
     text-decoration: none;
 }

 .pie__icom--sm{
     width: 40px;
 }

 .pie__titulo--md{
     font-size: 2rem;
     margin-left: 50px;
     display: inline-block;
 }
